<!-- Template contendo a visualização de Categorias -->
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="table-responsive">
            <!-- Tabela de Categorias, gerado loop por Api -->
            <table class="table table-hover" ng-show="categorias.length">
                <thead>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Ações</th>
                </thead>
                <tbody>
                    <tr ng-repeat="categorias in categorias | orderBy : 'nome'">
                        <td>{{categorias.nome}}</td>
                        <td>{{categorias.descricao}}</td>
                        <td class="icones">
                                <a href="" ng-click="removerCategoria(categorias)" class="deletar"><span class="iconify" data-icon="fa-solid:trash" data-inline="false"></span></a>
                                <a href="" ng-click="botaoEditarCategoria(categorias)" data-toggle="modal" data-target="#categoria-editar-Modal"><span class="iconify" data-icon="fa-solid:pencil-alt" data-inline="false"></span></simple-svg></a>
                            </td>
                    </tr>
                </tbody>
            </table>
            <!-- This message is show when categorias list is null or empty -->
            <h2 style="text-align: center" ng-show="!categorias.length">Não existem itens a serem demonstrados</h2>
            <!-- This message is show when back-End don't works or don't connects -->
            <h3 class="erro-backend">{{mensagemDeErro}}</h3>
        </div>
    </div>
</div>
    
    <div id="abrir-Popper" align="center" class="adicionarCategoria botao-adicionar" data-toggle="modal" data-target="#categoria-cadastro-Modal" data-content="Cadastrar nova Categoria para Produtos">
            <span class="iconify" data-icon="fa:plus" data-inline="false"></span>
    </div>

    <script>
        $('#abrir-Popper').popover({
        trigger: 'hover'
        })
    </script>
    
    <!-- Modal Cadastro de Categorias -->
    <div class="modal fade" id="categoria-cadastro-Modal" tabindex="-1" role="dialog" aria-labelledby="categoria-cadastro-ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="categoria-cadastro-ModalLabel">Cadastrar nova categoria</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <!-- Formulário para cadastrar as novas Categorias -->
              <form id="categoriaForm" name="categoriaForm">
                <div class="form-group">
                    <input ng-model="categoria.nome" type="text" class="form-control mb-2" name="nome" id="Nome" placeholder="Nome" ng-minlength="5" ng-required='testeRequiredNome()'>
    
                    <input ng-model="categoria.descricao" type="text" class="form-control mb-2" name="telefone" id="Telefone" placeholder="Descrição">
    
                </div>
              </form>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" ng-click="adicionarCategoria(categoria)" ng-disabled="(categoriaForm.$invalid || categoriaForm.$untouched)">
                        <span class="iconify" data-icon="fa:floppy-o" data-inline="false"></span> Salvar
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Editar de Categorias -->
    <div class="modal fade" id="categoria-editar-Modal" tabindex="-1" role="dialog" aria-labelledby="categoria-editar-ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="categoria-editar-ModalLabel">Atualizar categoria {{editarCategoria.nome}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <!-- Formulário para editar Categorias -->
            <form id="categoriaEditForm" name="categoriaEditForm">
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input ng-model="editarCategoria.nome" type="text" class="form-control mb-2" name="nome" id="nome" placeholder="Nome">
                    
                    <label for="editarDescricao">Letra do Corredor</label>
                    <input ng-model="editarCategoria.descricao" type="text" class="form-control mb-2" name="editarDescricao" id="editarDescricao" placeholder="Insira Descrição">

    
                </div>
            </form>
            {{editarCategoria}}
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" ng-click="updateCategoria(editarCategoria)" ng-disabled="(categoriaEditForm.$invalid || categoriaEditForm.$untouched)">
                            <span class="iconify" data-icon="fa-solid:sync-alt" data-inline="false"></span> Atualizar
                    </button>
                </div>
            </div>
        </div>
    </div>