<!-- Template contendo a visualização de Clientes -->
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="table-responsive">
            <!-- Tabela de Clientes, gerado loop por Api -->
            <table class="table table-hover" ng-show="clientes.length">
                <thead>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>CPF</th>
                    <th>Telefone</th>
                    <th>Endereço</th>
                    <th>Ações</th>
                </thead>
                <tbody>
                    <tr ng-repeat="clientes in clientes | orderBy : 'nome'">
                        <td>{{clientes.nome}}</td>
                        <td>{{clientes.email}}</td>
                        <td>{{clientes.cnpj}}</td>
                        <td>{{clientes.telefone}}</td>
                        <td>{{clientes.endereco.cidade}}</td>
                        <td class="icones">
                                <a href="" ng-click="removerCliente(clientes)" class="deletar"><span class="iconify" data-icon="fa-solid:trash" data-inline="false"></span></a>
                                <a href="" ng-click="botaoEditarCliente(clientes)" data-toggle="modal" data-target="#cliente-editar-Modal"><span class="iconify" data-icon="fa-solid:pencil-alt" data-inline="false"></span></simple-svg></a>
                            </td>
                    </tr>
                </tbody>
            </table>
            <!-- This message is show when clientes list is null or empty -->
            <h2 style="text-align: center" ng-show="!clientes.length">Não existem itens a serem demonstrados</h2>
            <!-- This message is show when back-End don't works or don't connects -->
            <h3 class="erro-backend">{{mensagemDeErro}}</h3>
        </div>
    </div>
</div>

<div id="abrir-Popper" align="center" class="adicionarCliente botao-adicionar" data-toggle="modal" data-target="#cliente-cadastro-Modal" data-content="Cadastrar novo Cliente">
    <span class="iconify" data-icon="mdi:account-plus" data-inline="false"></span>
</div>

<script>
    $('#abrir-Popper').popover({
    trigger: 'hover'
    })
</script>

<!-- Modal Cadastro de Clientes -->
<div class="modal fade" id="cliente-cadastro-Modal" tabindex="-1" role="dialog" aria-labelledby="cliente-cadastro-ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cliente-cadastro-ModalLabel">Cadastrar novo cliente</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="clienteForm" name="clienteForm">
            <div class="form-group">
                <input ng-model="cliente.nome" type="text" class="form-control mb-2" name="nome" id="Nome" placeholder="Nome" ng-minlength="5" onkeyup="justLetters(this)" ng-required='testeRequiredNome()'>

                <input ng-model="cliente.telefone" type="text" class="form-control mb-2" name="telefone" id="Telefone" placeholder="Telefone" onkeyup="justNumbers(this)" ng-required='testeRequiredTelefone()' pattern="\([0-9]{2}\)[\s][0-9]{4}-[0-9]{4}">
                <script type="text/javascript">$('#Telefone').mask("(00) 0000-0000");</script>

                <input ng-model="cliente.celular" type="text" class="form-control mb-2" name="celular" id="Celular" placeholder="Celular" onkeyup="justNumbers(this)" ng-required='testeRequiredCelular()' pattern="\([0-9]{2}\)[\s][0-9]{5}-[0-9]{4}" >
                <script type="text/javascript">$('#Celular').mask("(00) 00000-0000");</script>

                <input ng-model="cliente.email" name="email" id="Email" class="form-control mb-2" placeholder="E-mail" type="email">
                
                <input ng-model="cliente.cnpj" name="cnpj" id="Cnpj" class="form-control mb-2" placeholder="CPF" type="text" onkeyup="justNumbersCNPJ(this)">
                <script type="text/javascript">$('#Cnpj').mask("000.000.000-00");</script>

                <input ng-model="cliente.endereco.cep" type="text" class="form-control mb-2" name="cep" id="Cep" placeholder="Cep" ng-blur='buscarCEP(cliente.endereco.cep)'>

                <input ng-model="cliente.endereco.logradouro" type="text" class="form-control mb-2" name="logradouro" id="Logradouro" placeholder="Rua, Avenida ..." ng-required='testeRequiredNome()'>

                <input ng-model="cliente.endereco.numeroEndereco" type="text" class="form-control mb-2" name="numero" id="Numero" placeholder="Número" onkeyup="justNumbers(this)">

                <input ng-model="cliente.endereco.bairro" type="text" class="form-control mb-2" name="bairro" id="Bairro" placeholder="Bairro" ng-required='testeRequiredNome()'>

                <input ng-model="cliente.endereco.cidade" type="text" class="form-control mb-2" name="cidade" id="Cidade" placeholder="Cidade" ng-required='testeRequiredNome()'>

                <input ng-model="cliente.endereco.uf" type="text" class="form-control mb-2" name="uf" id="UF" placeholder="Estado" ng-required='testeRequiredNome()'>

            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary" ng-click="adicionarCliente(cliente)" ng-disabled="(clienteForm.$invalid || clienteForm.$untouched)">
                <span class="iconify" data-icon="fa:floppy-o" data-inline="false"></span> Salvar
            </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Editar de Clientes -->
  <div class="modal fade" id="cliente-editar-Modal" tabindex="-1" role="dialog" aria-labelledby="cliente-editar-ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="cliente-editar-ModalLabel">Atualizar cliente {{editarCliente.nome}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <!-- Formulário para editar Clientes -->
        <form id="clienteEditForm" name="clienteEditForm">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input ng-model="editarCliente.nome" type="text" class="form-control mb-2" name="nome" id="nome" placeholder="Nome">
                
                <label for="editarEmail">Email</label>
                <input ng-model="editarCliente.email" type="text" class="form-control mb-2" name="editarEmail" id="editarEmail" placeholder="Insira Email">

                <label for="editarCNPJ">CPF</label>
                <input ng-model="editarCliente.cnpj" type="text" class="form-control mb-2" name="editarCNPJ" id="editarCNPJ" placeholder="Insira CPF">
                <script type="text/javascript">$('#editarCNPJ').mask("000.000.000-00");</script>

                <label for="editarTelefone">Telefone</label>
                <input ng-model="editarCliente.telefone" type="text" class="form-control mb-2" name="editarTelefone" id="editarTelefone" placeholder="Insira Telefone" pattern="\([0-9]{2}\)[\s][0-9]{4}-[0-9]{4}">
                <script type="text/javascript">$('#editarTelefone').mask("(00) 0000-0000");</script>

                <label for="editarCelular">Celular</label>
                <input ng-model="editarCliente.celular" type="text" class="form-control mb-2" name="editarCelular" id="editarCelular" placeholder="Insira Celular" pattern="\([0-9]{2}\)[\s][0-9]{5}-[0-9]{4}" >
                <script type="text/javascript">$('#editarCelular').mask("(00) 00000-0000");</script>

                <label for="editarEndereco">Endereço</label>
                <input ng-model="editarCliente.endereco.cep" type="text" class="form-control mb-2" name="editarEndereco" id="editarEndereco" placeholder="Insira o CEP" ng-blur='buscarCEP(editarCliente.endereco.cep)'>

                <input ng-model="editarCliente.endereco.bairro" type="text" class="form-control mb-2" name="bairro" id="EditarBairro" placeholder="Bairro" ng-required='testeRequiredNome()'>


            </div>
        </form>
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" ng-click="updateCliente(editarCliente)" ng-disabled="(clienteEditForm.$invalid || clienteEditForm.$untouched)">
                        <span class="iconify" data-icon="fa-solid:sync-alt" data-inline="false"></span> Atualizar
                </button>
            </div>
        </div>
    </div>
</div>