<!-- Template contendo o sistema de estoque, para movimentações internas, saídas e entradas. -->
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table" ng-show="ordensServicos.length">
                <thead>
                    <th>Número O.S.</th>
                    <th>Cliente</th>
                    <th>Equipamento</th>
                    <th>Descrição do Serviço Solicitado</th>
                    <th>Status do Serviço</th>
                    <th>Ações</th>
                </thead>
                <tbody>
                    <tr ng-repeat="ordemServico in ordensServicos">
                        <td>{{ordemServico.idOrdem}}</td>
                        <td>{{ordemServico.cliente.nome}}</td>
                        <td>{{ordemServico.equipamento.nome}}</td>
                        <td>{{ordemServico.pedidoManutencao}}</td>
                        <td>{{ordemServico.estadoServ.nome}}</td>
                        <td class="icones">
                            <a title="Interação de Ordem: {{ordemServico.idOrdem}}" href="" ng-click="botaoEditarLayout(ordemServico)" data-toggle="modal" data-target="#estoque-editar-Modal" class="bussola"><span class="iconify" data-icon="mdi:apple-safari" data-inline="false"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- This message is show when estoques list is null or empty -->
            <h2 style="text-align: center" ng-show="!ordemServico.length">Não existem itens a serem demonstrados</h2>
            <!-- This message is show when back-End don't works or don't connects -->
            <h3 class="erro-backend">{{mensagemDeErro}}</h3>
        </div>
    </div>
</div>

<div align="center" id="abrir-Popper" title="Movimentar Estoque" class="adicionarEstoque botao-adicionar" data-toggle="modal" data-target="#ordem-cadastro-Modal" data-content="Criar nova Ordem de Serviço">
        <span class="iconify" data-icon="mdi:arrow-left-right-bold-outline" data-inline="false"></span>
</div>

<script>
    $('#abrir-Popper').popover({
    trigger: 'hover'
    })
</script>

<!-- Modal Cadastro de Estoques -->
<div class="modal fade" id="ordem-cadastro-Modal" tabindex="-1" role="dialog" aria-labelledby="ordem-cadastro-ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ordem-cadastro-ModalLabel">Cadastrar nova Ordem de Serviço</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="ordemServicoForm" name="ordemServicoForm">
            <div class="form-group">
                <!-- <input ng-model="ordemServico.pedidoManutencao" type="text" class="form-control mb-2" name="pedidoManutencao" id="PedidoManutencao" placeholder="Descreva os problemas do equipamento"> -->

                <textarea ng-model="novaOrdemServico.pedidoManutencao" name="pedidoManutencao" id="PedidoManutencao" cols="80" rows="8" class="form-control mb-2" placeholder="Descreva os problemas do equipamento"></textarea>
                
                <select class="form-control mb-2" name="equipamento" id="Equipamento" ng-model="novaOrdemServico.equipamento" ng-options="equipamento.nome for equipamento in equipamentosAll" ng-required='RequiredProduto()'>
                    <option value="" selected disabled>Selecione um Equipamento</option>
                </select>

                <select class="form-control mb-2" name="cliente" id="Produto" ng-model="novaOrdemServico.cliente" ng-options="cliente.nome for cliente in clientes">
                    <option value="" selected disabled>Selecione um Cliente</option>
                </select>

                    {{novaOrdemServico}}
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary" ng-click="adicionarNovaOrdem(novaOrdemServico)" ng-disabled="(ordemServicoForm.$invalid || ordemServicoForm.$untouched)">
                <span class="iconify" data-icon="fa:floppy-o" data-inline="false"></span> Salvar
            </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Editar de Estoques -->
  <div class="modal fade" id="estoque-editar-Modal" tabindex="-1" role="dialog" aria-labelledby="estoque-editar-ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="estoque-editar-ModalLabel">Mudar Localização de {{editarEstoque.nome}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <!-- Formulário para editar Estoques -->
        <form id="estoqueEditForm" name="estoqueEditForm">
            <div class="form-group">

                <label for="editarProdutoLayout">Localização</label>
                <select class="form-control mb-2" name="layout" id="editarProdutoLayout" ng-model="editarEstoque.layout" ng-options="layout.nome for layout in layouts">
                    <option value="" ng-selected="editarEstoque.layout.idLayout">{{editarEstoque.layout.nome}}</option>
                </select>


            </div>
        </form>
        {{editarEstoque}}
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" ng-click="updateEstoque(editarEstoque)" ng-disabled="(estoqueEditForm.$invalid || estoqueEditForm.$untouched)">
                        <span class="iconify" data-icon="fa-solid:sync-alt" data-inline="false"></span> Atualizar
                </button>
            </div>
        </div>
    </div>
</div>